@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* @import 'tailwindcss'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-cursive {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

.font-inter {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  font-style: normal;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#f5f5f7, #f5f5f7);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#434E78, #434E78)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}